<div class="container w-50">
  <h1 class="text-center"> &#x1f378; Créer un nouveau cocktail &#x1f378; </h1>
  <%= simple_form_for @cocktail do |f| %>
    <%= f.input :photo, as: :file %>
    <%= f.input :name %>
    <%= f.submit class: 'btn btn-success' %>
    <%= link_to "Retour aux cocktails" , root_path, class: 'btn btn-light' %>
  <% end %>
</div>
