<div class="container w-75">
  <h1 class="text-center"> &#127821; Ajoutez une dose à votre recette <%= @cocktail.name %> &#129389; </h1>
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <%= simple_form_for [@cocktail, @dose] do |f| %>
      <%= f.input :description %>
      <%= f.association :ingredient, input_html: { class: "beautiful-dropdown" }, include_hidden: false %>
      <%= f.submit "Ajouter une dose", class: 'btn btn-primary'%>
      <%= link_to "Retour aux cocktails" , cocktails_path, class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>

